.views {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 960px;
  max-width: 1140px;
  &::before {
    content: '';
    display: inline-block;
    height: 350px;
  }
  &::after {
    content: '';
    display: inline-block;
    height: var(--footer-height);
  }
}
